{% load static from staticfiles %}
<script type="text/javascript" src={% static "scripts.js" %}></script>

<div id='connection' class='dialog' style='display:none; right:600px; bottom: 350px;'>
  <form action='login' method='POST'>
    {% csrf_token %}
    <div class='titre_dialog'>connexion<img style='float:right;'
        onclick='show_hide_connection();'
        src="{% static "images/quitter.gif" %}"
        height=19px>
    </div></br></br>
    login</br>
    <input type='text' name='username'></br></br>
    password</br>
    <input type='password' name='password'></br></br>
    <input class='button' type='submit' value='connexion'>
  </form>
</div>
